main{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  max-width: 960px;
  }
  
  
  section {
  margin-bottom: 20px;
  font-size: 20px;
  order: 1;
  }
  
  
  h1{
  font-size: 40px;
  }
  
  h2{
  margin-left: 10px;
  margin-right: 10px;
  }
  
  img {
  width: 300px;
  height: 150px;
  }